@model ResetPasswordViewModel


<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        <a class="btn btn-primary" asp-action="Index"><i class="fa fa-arrow-left"></i> Go Back</a>
    </h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Reset Password</h6>
        </div>

        <div class="card-body">
            <form method="post" action="Register">
                <input type="hidden" asp-for="Id"/>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" asp-for="FirstName" class="form-control" disabled/>
                            <span class="text-danger" asp-validation-for="FirstName"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" asp-for="LastName" class="form-control" disabled />
                            <span class="text-danger" asp-validation-for="LastName"></span>
                        </div>
                    </div>
                </div>

                
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" asp-for="UserName" class="form-control" disabled />
                    <span class="text-danger" asp-validation-for="UserName"></span>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="text" asp-for="Password" class="form-control" />
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="text" asp-for="ConfirmPassword" class="form-control" />
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>