<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="401">401</div>
        <p class="lead text-gray-800 mb-5">You Are Not Authorized</p>
        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
        @*<a asp-action="Index" asp-controller="Post">&larr; Back to Dashboard</a>*@
        <a href="javascript:history.go(-1)">Go Back</a>
    </div>

</div>
